#Aquí están los archivos que no queremos que git controle como archivos .exe y
#cosas que no necesitamos

#Ejecutables
*.exe
*.o
*.out
strip_poker


#Archivos generados por el OS
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db

#Voy a usar este archivo para correr pruebas y no lo quiero en el repo
pruebas.c

#archivos de scons
config.log
.scon*

#no queremos enviar las ctags
ctags
